* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: auto;
    background-color: dimgrey;
}

header {
    height: 80px;
    background-color: rgb(243, 243, 51);
    font-size: 2em;
    font-weight: bold;
}

header div {
    padding-top: 20px;
    padding-left: 20px;
}

nav {
    background-color: coral;
}

nav ul {
    padding: 10px 0 10px 15px;
}

nav li {
    display: inline;
    font-size: 1.5em;
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

#welcome-section {
    min-height: 350px;
    overflow: hidden;
    background: darkkhaki;
    text-align: center;
    background: url('../images/tree.jpg');
    background-position: 50%;
}

#welcome-section h1 {
    padding-top: 10%;
    font-size: 2em;
    color: rgb(108, 255, 23);
    line-height: 1.5em;
}

#content-section {
    width: 70%;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

#content-section h1 {
    margin-bottom: 20px;
    font-size: 2.4em;
    color: cadetblue;
}

#content-section p {
    font-size: 1.3em;
    line-height: 1.6em;
}

#sidebar {
    float: right;
    background-color: darkgoldenrod;
    width: 30%;
    box-sizing: border-box;
    padding: 40px;
    font-size: 1.2em;
    margin-top: 90px;
}

footer {
    background-color: rgb(32, 32, 32);
    color: white;
    height: 100px;
    text-align: center;
    clear: both;
}

footer div {
    padding-top: 40px;
}

@media (max-width: 800px) {
    #sidebar {
        float: none;
        width: 100%;
        margin-bottom: 50px;
        margin: 0 0 30px 0;
    }
    #content-section {
        float:none;
        width: 100%;
    }
}

